*{
    background: white;
}

body{
    width: 100%;
}

.search-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 30px;
}

.test{
    background: black;
    height: 1500px;
}

@media (max-width: 1050px) {
    .search-container{
        visibility: hidden;
    }
}